{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- Writing sample -->

<!-- /Writing sample -->
<!-- Modal Writing Sample-->
    

<!-- /Hire for: -->
<!-- Testimonials -->

<!-- /Testimonials -->
<!-- Pricing -->

<!-- /Pricing -->
<!-- Let's Talk -->
<section class="pd-30 pt-30 letsTalk">
    <div class="container my-5">
        <div class="sectionHeader text-center">
            <h2>Look into your camera</h2>
            <p class="tagline">Press 'esc' to capture your face.</p>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                
            </div>
        </div>
    </div>
</section>
<!-- /Let's Talk -->

{% endblock %}
