{% load static %}
<!-- Let's talk -->
{% include 'talk-form.html' %}
<!-- /.modal -->
<!-- JS -->
<!--<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinymce/custom.js' %}"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--<script src="{% static 'website/js/popper.min.js' %}"></script>-->
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/bootstrapValidator.min.js' %}"></script>
<script src="{% static 'website/js/scripts.js' %}"></script>
